h1{color: violet;
text-align: center;
font-size: 250%;}
body{background-image: url(https://images.homify.com/v1527692641/p/photo/image/2577046/azzurro_polvere_2.jpg);
font-size: 300%;}
img{width: 1000px;
height: 500px;}
p{color: crimson;}
button{width: 200px;
height: 200px;}